@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Mountains of Christmas";
  font-size: 1.25em;
  margin: 0 -1em;
  flex: 1;
}

.carte {
  height: 220px;
  border-width: 3px;
  border-color: lightblue;
  border-style: ridge;
  padding: 1em;
  width: 220px;
  display: flex;
  flex-direction: column;
  break-inside: avoid-page;
}

p {
  margin-block: 0.5em;
  font-size: 0.9em;
}

p:last-of-type {
  margin-bottom: 0;
}